{% include 'header.j2' %}
{% if add_timer %}
  {% include 'timer.j2' %}
  {% include 'time_label.j2' %}
{% endif %}
{{ js }}
{% if drag_boxes %}
  {% include 'drag_function.j2' %}
{% endif %}
{% include 'footer.j2' %}
