<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>slayer.py</title>
    {% include 'imports.j2' %}
    <style>
    {% include 'style.j2' %}
    </style>
  </head>
  <body>
    <div id="labels"></div>
    <div id="tooltip"></div>
    <div id="map-container"></div>
    {% if legend %}
      {% include 'legend.j2' %}
    {% endif %}
    <script>
