{% if add_fps_box %}
{% include 'fps.j2' %}
{% endif %}

{{ viewport }};

var layers = [];

{% if color_lookups %}
{% include 'interval_lookup.j2' %}
const COLOR_LOOKUP = {
{% for color_lookup in color_lookups %}
  {{ color_lookup }}
{% endfor %}
};
{% endif %}

function getLayers() {
  return [
    {{ layers }}
  ];
}

{% if blend %}
{% include 'blend_js.j2' %}
{% endif %}

{% if add_tooltip %}
{% include 'tooltip.j2' %}
{% endif %}

var deckgl = new deck.DeckGL({
  container: 'map-container',
{% if not is_xyz_view  %}
  mapboxApiAccessToken: '{{ mapbox_api_key }}',
{% endif  %}
  initialViewState: INITIAL_VIEW_STATE,
  views: [new MapView()],
  onViewportChange: onViewportChange,
{% if blend %}
  onWebGLInitialized: webGLInit || None,
{% endif %}
  layers: layers,
{% if add_tooltip %}
  onLayerHover: onHover,
  onLayerClick: onClick,
{% endif %}
});


function onViewportChange(viewport) {
  deckgl.setProps({viewState: viewport});
}

function init() {
  layers = getLayers();
  deckgl.setProps({layers});
}

init();
