body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map-container {
  width: 100vw;
  height: 100vh;
  background-color:black;
}

#legend {
  font-family: monospace;
  z-index: 500;
  background-color: white;
  position: absolute;
  right: 10px;
  bottom: 30px;
  padding: 5px;
  overflow-x: hidden;
}
.row {
  line-height: 10px;
  display: inline; 
  height: 10px;
}
.legend-square {
  float: left;
  height: 10px;
  width: 10px;
}
.legend-text {
  display: inline;
  margin-left: 5px;
}
