    /* Map basics */
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    #map-container {
      width: 100vw;
      height: 100vh;
      background-color:black;
    }
    
    /* Map legend */
    #legend {
    {{style.get_css('legend')}}
    }
    .row {
      line-height: 10px;
      display: inline; 
      height: 10px;
      vertical-align: super;
    }
    .legend-square {
      float: left;
      height: 10px;
      width: 10px;
    }
    .legend-text {
      display: inline;
      margin-left: 5px;
    }
    
    /* Tooltip */
    #tooltip {
    {{style.get_css('tooltip')}}
    }
    
    #datetimeLabel {
    {{style.get_css('datetime_label')}}
    }
