var timeFilter = {{timer.min_time}};

function repeatFunc() {
    timeFilter += {{timer.increment_unit}};
    if (timeFilter > {{timer.coerce_to_number(timer.max_time)}}) {
        timeFilter = {{timer.coerce_to_number(timer.min_time)}};
    }
    layers = getLayers();
    deckgl.setProps({layers});
    console.log(timeFilter);
    setDatetime(timeFilter);
}

setInterval(repeatFunc, {{timer.tick_rate*1000}});
