function addDatetimeLabel(datetime) {
  var h = document.createElement('div');
  {% if timer.js_display_format and timer.js_tz %}
  var ts = moment.unix(datetime).tz('{{timer.js_tz}}').format('{{timer.js_display_format}}');
  {% elif timer.js_display_format%}
  var ts = moment.unix(datetime).format('{{timer.js_display_format}}');
  {% endif %}
  h.innerHTML = '' + ts;
  h.id = 'datetimeLabel';
  document.getElementById('labels').appendChild(h);
}

function setDatetime(datetime) {
  var label = document.getElementById('datetimeLabel')
  if (label == null) {
    addDatetimeLabel(datetime);
  } else {
    {% if timer.js_display_format %}
    label.innerHTML = moment.unix(datetime).format('{{timer.js_display_format}}');
    {% else %}
    label.innerHTML = datetime;
    {% endif %}
  }
}
