function addDatetimeLabel(datetime) {
  var h = document.createElement('div');
  h.innerHTML = '' + datetime;
  h.id = 'datetimeLabel';
  document.getElementById('labels').appendChild(h);
}

function setDatetime(datetime) {
  var label = document.getElementById('datetimeLabel')
  if (label == null) {
    addDatetimeLabel(datetime);
  } else {
    label.innerHTML = datetime;
  }
}
