var timeFilter = {{timer.min_time}};

function repeatFunc() {
    timeFilter += {{timer.increment_unit}};
    if (timeFilter > {{timer.convert_ts_to_seconds(timer.max_time)}}) {
        timeFilter = {{timer.convert_ts_to_seconds(min_time)}};
    }
    layers = getLayers();
    deckgl.setProps({layers});
    setDatetime(timeFilter);
}

setInterval(repeatFunc, {{timer.tick_rate}});
