var timeFilter = {{min_time}};

function repeatFunc() {
    timeFilter += 1;
    if (timeFilter > {{max_time}}) {
        timeFilter = {{min_time}};
    }
    layers = getLayers()
}

setInterval(repeatFunc, {{cadence or 500}});
